
.main-container-active {
    color: #fff;
    position: fixed;
    background-color: #29262F;
    border-radius: 20px;
    width: 853px;
    height: 648px;
}
.main-container-active::-webkit-scrollbar {
    display: none;
}


.logo-section {
    position: absolute;
    top: 8px;
    left: 8px;
   
}

.title {
    position: absolute;
    font-size: 16px;
    font-family: 'LuckiestGuy';
    top: 10px;
    left: 32px;
}
.search-frame {

    background-color: #3C3744;
    border-radius: 20px;
    position: fixed;
    width: 100vw;
    height: 81px;
    margin-bottom: 10px;

}

.magnifyer-search {
    position: absolute;
    top: 3px;
    left: 120px;
}

.magnifying-glass {
    position: absolute;
    top: 9px;
    left: 10px;
}

.searchbar {
    position: absolute;
    padding: 20px;
    -webkit-box-sizing: border-box;
    width: 640px;
    height: 65px;
    font-family: 'RedHatDisplay';
    font-size: 24px;
    border-radius: 20px;
    background-color: #fff;
    top: 5px;
    left: 80px;
    
}

.songContainer {
    height: 139px;
}

.songWidget {
    background-color: #3C3744;
    border-radius: 20px;
    position: absolute;
    left: 12px;
    width: 828px;
    height: 127px;
}

.songsWrapper {
    
    position: absolute;
    top: 90px;
}

.songsWrapper::-webkit-scrollbar {
    display: none;
}

.thumbnailWrapper {
    position: absolute;
    border-radius: 20px;
    width: 120px;
    height: 104px;
    left: 12px;
    top: 11px;
    overflow: hidden;
}

.thumbnail {

    position: absolute; 
    width: 160px;
    height: 160px;
    top: -20px;
}

.audioTitle {
    left: 158px;
    top: 15px;
    position: absolute;
    font-family: 'LuckiestGuy';
    font-size: 20px;
}

.author {
    left: 158px;
    color: #AAAAAA;
    top: 36px;
    position: absolute;
    font-family: 'RedHatDisplay';
    font-size: 20px;
}

.playButton {
    position: absolute;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    top: 15%;
    left: 22%;
}

.playButtonWrapper {
    position: absolute;
    left: 690px;
    top: 30px;
}



