:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  display: flex;
  align-items:  'center';
  max-width: 853px;
  max-height: 100vh;
  color: #fff;
  -webkit-user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}


.top-window {
  width: 200px;
  border-radius: 20px;
  height: 81px;
  -webkit-app-region: drag;
  position: absolute;
  top: 0px;
  left: 0px;
}
input { border:0; outline:0;}
input:focus {
  outline: none;
}
img { 
  -webkit-user-select: none; 
  pointer-events: none;
}

@font-face {
  font-family: "LuckiestGuy";
  src: local("LuckiestGuy"),
   url("./assets/fonts/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: bold;
 }

 @font-face {
  font-family: "RedHatDisplay";
  src: local("RedHatDisplay"),
  url("./assets/fonts/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
 }